<div class="nested-form mb-2 p-2 border-dashed border rounded-xl border-cyan-800">
  <%= form.hidden_field :_destroy %>
  <div class="mb-2 flex gap-1">
    <%= form.collection_select :ingredient_id, Ingredient.order(:name), :id, :name, {}, class: "rounded-xl border border-cyan-800 h-9 bg-white text-sm w-1/2" %>
    <%= form.number_field :amount, class: "w-1/4 rounded-xl border-cyan-800 h-9", step: 0.01 %>
    <%= form.select :unit_id, Unit.all, { include_blank: "-" }, class: "rounded-xl border border-cyan-800 h-9 bg-white text-sm w-1/4" %>
  </div>
  <button type="button" class="w-full rounded-xl bg-red-800 text-white font-bold h-9" data-action="nested-form#remove">Убрать</button>
</div>
